@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");

.framed {
  border-image-source: url("img/frame.png");
  border-image-slice: 93 92 87 92;
  border-image-repeat: stretch;

  border-style: inset;
  border-width: 60px;

  background-color: #ffe;
  margin-block-start: 2rem;
  padding: 0.5rem;

  display: grid;
  row-gap: 2rem;

  resize: both;
  overflow: auto;

  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3), 0 0 6px 0 rgba(0, 0, 0, 0.18);
}

blockquote {
  margin: 0;
}

img {
  height: 1.5em;
  aspect-ratio: 1 /1;
}

@keyframes pointing {
  to {
    transform: translateY(3px);
  }
}

.framed div {
  font-size: 0.45em;
  font-family: "Roboto", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  justify-self: end;
  padding-inline-end: 0.75rem;

  animation: 0.5s linear 0s infinite alternate pointing;
}

body {
  background-color: biege;
  background-image: url(img/background.jpg);
  background-size: cover;

  display: grid;
  max-width: 1000px;
  place-items: center;

  font-family: "Pompiere", cursive;
  font-size: 1.75rem;

  margin: 1rem auto;
}
