@font-face {
  font-family: "Rubik Mono One";
  src: url("./RubikMonoOne-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  margin: 0;

  display: grid;
  place-items: center;
}

svg {
  display: block;
  height: 50%;
  width: auto;

  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

#smoke {
  animation-name: rise;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes rise {
  33% {
    transform: translateY(-3px) rotate(-0.5deg);
  }
  66% {
    transform: translateY(-6px) rotate(0.5deg);
  }
  88% {
    transform: translateY(-9px) rotate(-0.5deg);
  }
  100% {
    opacity: 0;
  }
}
